.icon {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; /* Ensures ::before is positioned relative to the icon */
}

.icon:hover::before {
  content: ""; /* 렌더링 위해 필수.  */
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon:hover::before {
  opacity: 1; /* Visible on hover */
}
