.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  position: relative; /* Required for positioning hover effects correctly */
  margin: 2%;
}

.icon-container {
  display: flex;
  gap: 10px;
}
